# MikroTik router IPs (comma-separated), subnets not supported.
MIKROTIK=10.10.xxx.xxx,10.11.xxx.xxx,172.45.67.xxx

# MikroTik API credentials (Port 8728 by default)
MIKROTIK_USERNAME=API_USER #Create new user with only read permission
MIKROTIK_PASSWORD=PASSWORD

# Telegram integration
TELEGRAM_BOT_TOKEN=TOKEN
TELEGRAM_CHAT_ID=ID

# Monitor settings
CHECK_INTERVAL=30 #Only support seconds
MAX_WORKERS=3 #Don't go over 10 please
